In [1]:
import pandas as pd

In [8]:
df_school_prop = pd.read_csv('../data/curated/property_school.csv')
df_cbd_prop = pd.read_csv('../data/curated/property_cbd.csv')
#df_sc_prop = pd.read_csv('../data/curated/property_sc.csv')
df_train_prop = pd.read_csv('../data/curated/property_train.csv')


same_attr = ['Unnamed: 0','Unnamed: 0.1','name','cost_text','coordinates','rooms','baths','parking','desc','area']
df = pd.merge(df_school_prop,df_cbd_prop,on=same_attr)
#df = pd.merge(df,df_sc_prop,on=same_attr)
df = pd.merge(df,df_train_prop,on=same_attr)

print(df.head())

df.to_csv('../data/curated/property_full.csv')

   Unnamed: 0                                       Unnamed: 0.1  \
0           0  https://www.domain.com.au/3607-80-a-beckett-st...
1           1  https://www.domain.com.au/251-350-st-kilda-roa...
2           2  https://www.domain.com.au/231-299-queen-street...
3           3  https://www.domain.com.au/5401-464-collins-str...
4           4  https://www.domain.com.au/4103-80-abeckett-str...

                                          name       cost_text  \
0  3607/80 A'Beckett Street Melbourne VIC 3000   $3,000 weekly
1     251/350 St Kilda Road Melbourne VIC 3000  $2800 Per Week
2      231/299 Queen Street Melbourne VIC 3000       $2,600.00
3   5401/464 Collins Street Melbourne VIC 3000  $2500 Per Week
4   4103/80 ABeckett Street Melbourne VIC 3000   Contact Agent

                  coordinates       rooms        baths        parking  \
0  [-37.8090372, 144.9610905]  ['2 Beds']   ['1 Bath']             []
1   [-37.831142, 144.9708545]  ['3 Beds']  ['3 Baths']  ['3 Parking']
2  [-37.8114187, 144.9587916]  ['4 Beds']  ['4 Baths']  ['3 Parking']
3  [-37.8175602, 144.9585916]  ['3 Beds']  ['3 Baths']  ['2 Parking']
4  [-37.8089991, 144.9610792]  ['2 Beds']   ['1 Bath']             []

                                                desc area  \
0  *Available at the time as advertised. Please c...  NaN
1  Commanding a premier position in the most pres...  NaN
2   class="css-dxogle">* Unverified feature<svg a...  NaN
3                                    Darren McMullin  NaN
4   class="css-dxogle">* Unverified feature<svg a...  NaN

   driving_time_to_school  distance_to_school       closest_school_name  \
0                   96.04              835.89         River Nile School
1                  172.97             1628.15  Melbourne Grammar School
2                   82.66              540.05            Ozford College
3                   57.18              451.24  Hester Hornbrook Academy
4                   96.09              836.24         River Nile School

      closest_school_coor  driving_time_to_CBD  distance_to_CBD  \
0  (144.95509, -37.80519)               546.54          5088.47
1  (144.97709, -37.83359)               363.29          3073.39
2  (144.95442, -37.81289)               503.17          4658.67
3  (144.95615, -37.81654)               398.12          3743.68
4  (144.95509, -37.80519)               546.60          5088.82

   driving_time_to_station  distance_to_station  \
0                   249.20              1947.47
1                   137.31              1482.00
2                   207.30              1590.03
3                    88.92               651.38
4                   249.26              1947.82

                       closest_station_coor
0  (144.96582714969728, -37.81816473870898)
1  (144.96753934721428, -37.81870246654233)
2  (144.95246361302495, -37.81839387816963)
3  (144.95246361302495, -37.81839387816963)
4  (144.96582714969728, -37.81816473870898)