In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df=pd.read_csv('../data/curated/property_full.csv')

In [3]:
# remove feature wouldn't be useful towards model training
df=df.drop(columns=['Unnamed: 0','Unnamed: 0_x','Unnamed: 0.1','name','coordinates','closest_school_name','closest_school_coor',
'closest_sc_name','closest_sc_coor','closest_station_coor','2001population','2002population', '2003population', 
'2004population', '2005population', '2006population', '2007population', '2008population', '2009population',
'2010population', '2011population', '2012population', '2013population','2014population', '2015population', 
'2016population', '2017population', '2018population', '2019population', '2020population',
'2014-15 MEDIAN EMPLOYMENT INCOME PER JOB', '2015-16 MEDIAN EMPLOYMENT INCOME PER JOB',
'2016-17 MEDIAN EMPLOYMENT INCOME PER JOB', '2017-18 MEDIAN EMPLOYMENT INCOME PER JOB',
'2011_unemploy_rate', '2012_unemploy_rate', '2013_unemploy_rate', '2014_unemploy_rate',
'2015_unemploy_rate', '2016_unemploy_rate', '2017_unemploy_rate', '2018_unemploy_rate', '2019_unemploy_rate', 
'2020_unemploy_rate', '2014-15 #jobs*000', '2015-16 #jobs*000', '2016-17 #jobs*000', '2017-18 #jobs*000',])

In [4]:
cols = ['cost_text', 'rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_code', '2021population',
       '2011-2021no', '2011-2021%', 'Area', 'Population density 2021',
       '2018-19 #jobs*000', '2018-19 MEDIAN EMPLOYMENT INCOME PER JOB',
       '2021_unemploy_rate']
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)
df

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,SA2_name,SA2_code,2021population,2011-2021no,2011-2021%,Area,Population density 2021,2018-19 #jobs*000,2018-19 MEDIAN EMPLOYMENT INCOME PER JOB,2021_unemploy_rate
0,3000.0,2.0,1.0,0.0,96.04,835.89,546.54,5088.47,57.76,371.42,...,Melbourne CBD - North,206041504.0,17439.0,11038.0,172.4,0.6,31052.4,NaN,NaN,NaN
1,2800.0,3.0,3.0,3.0,172.97,1628.15,363.29,3073.39,241.71,2043.07,...,South Melbourne,206051512.0,11860.0,1520.0,14.7,1.9,6276.1,NaN,NaN,NaN
2,2600.0,4.0,4.0,3.0,82.66,540.05,503.17,4658.67,94.27,521.19,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
3,2500.0,3.0,3.0,2.0,57.18,451.24,398.12,3743.68,76.49,660.80,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
4,2400.0,3.0,2.0,2.0,82.76,540.82,503.08,4657.90,94.36,521.96,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14762,420.0,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14763,400.0,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14764,400.0,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14765,400.0,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14766,360.0,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3

In [5]:
df = df.rename(columns={'2021population':'population_21','2011-2021no':'num_increase',
'2011-2021%':'percent_increase','Population density 2021':'pop_dens_21','2018-19 #jobs*000':'num_job_19',
'2018-19 MEDIAN EMPLOYMENT INCOME PER JOB':'income_rate_19','2021_unemploy_rate':'unemployment_rate_21'})

In [6]:
df

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,SA2_name,SA2_code,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21
0,3000.0,2.0,1.0,0.0,96.04,835.89,546.54,5088.47,57.76,371.42,...,Melbourne CBD - North,206041504.0,17439.0,11038.0,172.4,0.6,31052.4,NaN,NaN,NaN
1,2800.0,3.0,3.0,3.0,172.97,1628.15,363.29,3073.39,241.71,2043.07,...,South Melbourne,206051512.0,11860.0,1520.0,14.7,1.9,6276.1,NaN,NaN,NaN
2,2600.0,4.0,4.0,3.0,82.66,540.05,503.17,4658.67,94.27,521.19,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
3,2500.0,3.0,3.0,2.0,57.18,451.24,398.12,3743.68,76.49,660.80,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
4,2400.0,3.0,2.0,2.0,82.76,540.82,503.08,4657.90,94.36,521.96,...,Melbourne CBD - West,206041505.0,16179.0,8704.0,116.4,1.0,16096.9,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14762,420.0,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14763,400.0,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14764,400.0,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14765,400.0,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3
14766,360.0,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,...,Wonthaggi - Inverloch,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.3

In [7]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import r2_score, accuracy_score
from sklearn.model_selection import train_test_split

In [8]:
SA2_name=df['SA2_name']

In [9]:
df1=df.drop(columns='SA2_name')
df1=df1.dropna()
df1=df1.reset_index()
df1=df1.drop(columns=['index'])
df1

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,distance_to_station,SA2_code,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21
0,950.0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,...,1793.00,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33
1,800.0,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,...,472.01,206041118.0,15942.0,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80
2,780.0,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,...,1769.16,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33
3,750.0,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,...,1686.95,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33
4,700.0,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,...,2145.33,206041117.0,17198.0,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,420.0,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,...,14121.79,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30
10234,400.0,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,...,13305.61,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30
10235,400.0,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,...,13707.98,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30
10236,400.0,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,...,13972.42,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30
10237,360.0,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,...,13432.26,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30

In [10]:
df1.columns

Index(['cost_text', 'rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_code', 'population_21', 'num_increase',
       'percent_increase', 'Area', 'pop_dens_21', 'num_job_19',
       'income_rate_19', 'unemployment_rate_21'],
      dtype='object')

In [11]:
X=df1[['rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_code', 'population_21', 'num_increase',
       'percent_increase', 'Area', 'pop_dens_21', 'num_job_19',
       'income_rate_19', 'unemployment_rate_21']]
y=df1['cost_text']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
reg_rf=RandomForestRegressor(verbose=0,n_jobs=8,random_state=42)

In [13]:
reg_rf.fit(X_train,y_train)
y_predict_rf = reg_rf.predict(X_test)

In [14]:
from sklearn import metrics
import numpy as np
print("Randomforest Evaluation")
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_predict_rf))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict_rf))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict_rf)))
print('R-square:', r2_score(y_test,y_predict_rf))

Randomforest Evaluation
Mean Absolute Error: 161.05877465667092
Mean Squared Error: 1498282.4603674877
Root Mean Squared Error: 1224.0434879396596
R-square: -1.9657176536787841

In [15]:
#predict the 2023 price
y_predict_rf_reg=reg_rf.predict(X)
y_predict_rf_reg

array([746.00333333, 699.69440476, 698.03833333, ..., 404.81      ,
       388.35      , 401.56      ])

In [16]:
df1['2023']=y_predict_rf_reg
df1

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,SA2_code,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023
0,950.0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,746.003333
1,800.0,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,...,206041118.0,15942.0,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80,699.694405
2,780.0,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,698.038333
3,750.0,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,761.488571
4,700.0,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,...,206041117.0,17198.0,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35,674.703333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,420.0,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,395.250000
10234,400.0,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,393.450000
10235,400.0,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,404.810000
10236,400.0,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,388.350000
10237,360.0,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,401.560000

In [17]:
df2=df1.drop(columns=['cost_text'])
df2

,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,driving_time_to_station,...,SA2_code,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023
0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,161.81,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,746.003333
1,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,82.14,...,206041118.0,15942.0,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80,699.694405
2,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,227.91,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,698.038333
3,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,230.04,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,761.488571
4,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,254.97,...,206041117.0,17198.0,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35,674.703333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,845.36,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,395.250000
10234,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,775.95,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,393.450000
10235,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,812.49,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,404.810000
10236,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,886.35,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,388.350000
10237,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,794.56,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,401.560000

In [18]:
#train the data
X_2023=df2[['rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_code', 'population_21', 'num_increase',
       'percent_increase', 'Area', 'pop_dens_21', 'num_job_19',
       'income_rate_19', 'unemployment_rate_21']]
y_2023=df2['2023']
X_train, X_test, y_train, y_test = train_test_split(X_2023, y_2023, test_size=0.33, random_state=42)
reg_rf=RandomForestRegressor(verbose=0,n_jobs=8,random_state=42)
reg_rf.fit(X_2023,y_2023)

RandomForestRegressor(n_jobs=8, random_state=42)

In [19]:
#predict the 2024 price
y_2024=reg_rf.predict(X_2023)
y_2024

array([741.55178492, 700.15354405, 662.97202463, ..., 409.3698    ,
       393.5457    , 402.9251    ])

In [20]:
df2['2024']=y_2024
df2

,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,driving_time_to_station,...,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023,2024
0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,161.81,...,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,746.003333,741.551785
1,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,82.14,...,15942.0,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80,699.694405,700.153544
2,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,227.91,...,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,698.038333,662.972025
3,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,230.04,...,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,761.488571,767.596748
4,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,254.97,...,17198.0,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35,674.703333,661.258059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,845.36,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,395.250000,388.872545
10234,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,775.95,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,393.450000,386.891950
10235,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,812.49,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,404.810000,409.369800
10236,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,886.35,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,388.350000,393.545700
10237,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,794.56,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,401.560000,402.925100

In [21]:
df3=df2.drop(columns=['2023'])
df3

,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,driving_time_to_station,...,SA2_code,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2024
0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,161.81,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,741.551785
1,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,82.14,...,206041118.0,15942.0,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80,700.153544
2,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,227.91,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,662.972025
3,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,230.04,...,206051128.0,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,767.596748
4,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,254.97,...,206041117.0,17198.0,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35,661.258059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,845.36,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,388.872545
10234,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,775.95,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,386.891950
10235,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,812.49,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,409.369800
10236,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,886.35,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,393.545700
10237,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,794.56,...,205031093.0,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,402.925100

In [22]:
#train the data for predicting the data 
X_2024=df3[['rooms', 'baths', 'parking', 'driving_time_to_school',
       'distance_to_school', 'driving_time_to_CBD', 'distance_to_CBD',
       'driving_time_to_sc', 'distance_to_sc', 'driving_time_to_station',
       'distance_to_station', 'SA2_code', 'population_21', 'num_increase',
       'percent_increase', 'Area', 'pop_dens_21', 'num_job_19',
       'income_rate_19', 'unemployment_rate_21']]
y_2024=df3['2024']
X_train, X_test, y_train, y_test = train_test_split(X_2024, y_2024, test_size=0.33, random_state=42)
reg_rf=RandomForestRegressor(verbose=0,n_jobs=8,random_state=42)
reg_rf.fit(X_2024,y_2024)

RandomForestRegressor(n_jobs=8, random_state=42)

In [23]:
#predict the 2025 price
y_2025=reg_rf.predict(X_2023)
y_2025

array([751.22981623, 699.96112006, 645.92287249, ..., 408.6291336 ,
       393.858185  , 404.52764494])

In [24]:
df3['2025']=y_2025
df3

,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,driving_time_to_station,...,population_21,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2024,2025
0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,161.81,...,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,741.551785,751.229816
1,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,82.14,...,15942.0,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80,700.153544,699.961120
2,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,227.91,...,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,662.972025,645.922872
3,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,230.04,...,16023.0,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,767.596748,767.140333
4,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,254.97,...,17198.0,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35,661.258059,653.756339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,845.36,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,388.872545,387.586522
10234,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,775.95,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,386.891950,383.310495
10235,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,812.49,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,409.369800,408.629134
10236,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,886.35,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,393.545700,393.858185
10237,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,794.56,...,26723.0,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,402.925100,404.527645

In [25]:
df1['2024']=y_2024
df1['2025']=y_2025
df1

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023,2024,2025
0,950.0,2.0,2.0,2.0,121.85,691.65,436.10,3413.94,232.79,1866.01,...,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,746.003333,741.551785,751.229816
1,800.0,2.0,2.0,0.0,176.84,1249.71,404.75,3475.62,196.15,1459.27,...,9746.0,157.3,2.4,6522.9,16.759,23164.0,3.80,699.694405,700.153544,699.961120
2,780.0,2.0,2.0,1.0,36.89,308.35,617.21,5766.55,165.09,1617.60,...,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,698.038333,662.972025,645.922872
3,750.0,2.0,2.0,2.0,67.66,497.75,584.29,4783.38,195.87,1807.00,...,1014.0,6.8,4.7,3427.6,15.822,29427.5,3.33,761.488571,767.596748,767.140333
4,700.0,2.0,2.0,1.0,85.37,638.52,688.69,6086.00,102.52,813.65,...,2076.0,13.7,1.8,9456.2,16.224,12760.0,7.35,674.703333,661.258059,653.756339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10233,420.0,2.0,1.0,0.0,132.33,1041.53,7441.26,155197.00,832.96,14089.57,...,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,395.250000,388.872545,387.586522
10234,400.0,2.0,1.0,1.0,54.61,618.56,7373.15,154441.34,763.54,13273.38,...,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,393.450000,386.891950,383.310495
10235,400.0,3.0,1.0,2.0,50.78,375.82,7405.83,154777.39,800.09,13675.76,...,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,404.810000,409.369800,408.629134
10236,400.0,3.0,1.0,1.0,239.71,2671.90,7485.04,155043.69,873.94,13940.19,...,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,388.350000,393.545700,393.858185
10237,360.0,3.0,1.0,2.0,73.22,745.22,7391.76,154568.00,782.15,13400.03,...,6327.0,31.0,728.8,36.7,16.428,21912.5,6.30,401.560000,402.925100,404.527645

In [26]:
df4=df1.groupby('SA2_code').mean()
df4.head()

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023,2024,2025
SA2_code,,,,,,,,,,,,,,,,,,,,,
201011001.0,435.256410,3.564103,1.897436,2.000000,163.580513,1428.693846,5427.199231,121144.553590,257.708205,2448.217949,...,8371.0,99.0,52.7,319.2,11.038,28005.0,3.00,434.302697,435.502697,437.470922
201011002.0,413.472222,2.944444,1.361111,1.277778,125.538611,1050.494444,5059.028333,114844.282778,208.058333,1893.676389,...,-289.0,-2.3,12.4,975.5,10.220,24587.0,4.25,436.952037,436.308476,436.859435
201011005.0,432.857143,3.571429,1.714286,1.285714,217.980000,1646.151429,5374.818571,117215.971429,889.321429,10394.030000,...,507.0,7.5,51.6,140.2,5.614,27272.0,2.77,549.998095,553.848165,557.909083
201011006.0,452.948718,3.897436,2.025641,2.153846,303.162308,2675.248205,5599.432821,119381.886410,300.210256,2393.878462,...,4802.0,82.3,34.2,311.5,6.568,27209.0,5.55,477.587730,473.948920,471.965798
201011008.0,373.695652,2.956522,1.434783,1.652174,146.567826,1462.468261,5001.787826,118067.323478,238.780000,2259.183478,...,841.0,5.8,67.6,226.6,9.982,25915.5,7.90,402.577081,404.167550,406.270019

In [27]:
df4=df4.iloc[1:,:]
df4.head()

,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,distance_to_sc,...,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023,2024,2025
SA2_code,,,,,,,,,,,,,,,,,,,,,
201011002.0,413.472222,2.944444,1.361111,1.277778,125.538611,1050.494444,5059.028333,114844.282778,208.058333,1893.676389,...,-289.0,-2.3,12.4,975.5,10.220,24587.0,4.25,436.952037,436.308476,436.859435
201011005.0,432.857143,3.571429,1.714286,1.285714,217.980000,1646.151429,5374.818571,117215.971429,889.321429,10394.030000,...,507.0,7.5,51.6,140.2,5.614,27272.0,2.77,549.998095,553.848165,557.909083
201011006.0,452.948718,3.897436,2.025641,2.153846,303.162308,2675.248205,5599.432821,119381.886410,300.210256,2393.878462,...,4802.0,82.3,34.2,311.5,6.568,27209.0,5.55,477.587730,473.948920,471.965798
201011008.0,373.695652,2.956522,1.434783,1.652174,146.567826,1462.468261,5001.787826,118067.323478,238.780000,2259.183478,...,841.0,5.8,67.6,226.6,9.982,25915.5,7.90,402.577081,404.167550,406.270019
201021009.0,385.000000,3.000000,1.500000,2.500000,142.902500,1971.440000,3400.175000,76043.157500,1023.262500,21842.940000,...,861.0,15.2,1038.8,6.3,4.977,27824.0,3.85,478.575000,570.205831,663.741015

In [29]:
df4=df4.reset_index()
df4=df4.drop(columns=['index'])
df4

,SA2_code,cost_text,rooms,baths,parking,driving_time_to_school,distance_to_school,driving_time_to_CBD,distance_to_CBD,driving_time_to_sc,...,num_increase,percent_increase,Area,pop_dens_21,num_job_19,income_rate_19,unemployment_rate_21,2023,2024,2025
0,201011002.0,413.472222,2.944444,1.361111,1.277778,125.538611,1050.494444,5059.028333,114844.282778,208.058333,...,-289.0,-2.3,12.4,975.5,10.220,24587.0,4.25,436.952037,436.308476,436.859435
1,201011005.0,432.857143,3.571429,1.714286,1.285714,217.980000,1646.151429,5374.818571,117215.971429,889.321429,...,507.0,7.5,51.6,140.2,5.614,27272.0,2.77,549.998095,553.848165,557.909083
2,201011006.0,452.948718,3.897436,2.025641,2.153846,303.162308,2675.248205,5599.432821,119381.886410,300.210256,...,4802.0,82.3,34.2,311.5,6.568,27209.0,5.55,477.587730,473.948920,471.965798
3,201011008.0,373.695652,2.956522,1.434783,1.652174,146.567826,1462.468261,5001.787826,118067.323478,238.780000,...,841.0,5.8,67.6,226.6,9.982,25915.5,7.90,402.577081,404.167550,406.270019
4,201021009.0,385.000000,3.000000,1.500000,2.500000,142.902500,1971.440000,3400.175000,76043.157500,1023.262500,...,861.0,15.2,1038.8,6.3,4.977,27824.0,3.85,478.575000,570.205831,663.741015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,217031476.0,707.272727,3.545455,1.818182,1.818182,175.338182,1876.117273,9606.910000,196164.536364,3966.933636,...,558.0,16.3,1505.9,2.6,3.370,14554.0,3.65,639.764545,636.774166,641.852174
374,217041477.0,420.000000,3.500000,1.500000,1.000000,747.650000,12172.510000,10121.907500,226987.482500,2587.572500,...,210.0,3.1,3275.8,2.1,6.523,17586.0,3.28,469.355000,566.839764,653.768707
375,217041478.0,376.000000,2.800000,1.200000,1.200000,562.630000,10636.514000,12580.866000,286117.264000,2089.912000,...,939.0,10.4,2037.8,4.9,8.399,20000.0,2.50,412.022000,467.067544,544.084118
376,217041479.0,399.736842,2.578947,1.315789,1.263158,150.326316,1189.777895,11446.829474,255943.605263,374.212632,...,2583.0,13.0,62.4,359.9,19.115,22262.5,3.75,405.298070,414.686050,419.435395
377,217041480.0,360.500000,2.437500,1.250000,1.125000,146.463750,1256.748750,11370.211250,254781.215625,374.851250,...,151.0,1.1,120.2,110.6,11.651,22661.0,4.15,419.778414,429.260932,439.274614

In [30]:
df4=df4[['SA2_code','cost_text','2023','2024','2025']]
df4

        SA2_code   cost_text        2023        2024        2025
0    201011002.0  413.472222  436.952037  436.308476  436.859435
1    201011005.0  432.857143  549.998095  553.848165  557.909083
2    201011006.0  452.948718  477.587730  473.948920  471.965798
3    201011008.0  373.695652  402.577081  404.167550  406.270019
4    201021009.0  385.000000  478.575000  570.205831  663.741015
..           ...         ...         ...         ...         ...
373  217031476.0  707.272727  639.764545  636.774166  641.852174
374  217041477.0  420.000000  469.355000  566.839764  653.768707
375  217041478.0  376.000000  412.022000  467.067544  544.084118
376  217041479.0  399.736842  405.298070  414.686050  419.435395
377  217041480.0  360.500000  419.778414  429.260932  439.274614

[378 rows x 5 columns]

In [31]:
#find the SA2 name according to the SA2 code
SA2=[]
for i in range(df4.shape[0]):
    for j in range(df.shape[0]):
        if df4.iloc[i]['SA2_code'] == df.iloc[j]['SA2_code']:
            SA2.append(df.iloc[j]['SA2_name'])
            break
SA2

['Ballarat',
 'Buninyong',
 'Delacombe',
 'Wendouree - Miners Rest',
 'Bacchus Marsh Surrounds',
 'Creswick - Clunes',
 'Daylesford',
 'Gordon (Vic.)',
 'Maryborough (Vic.)',
 'Bendigo',
 'California Gully - Eaglehawk',
 'East Bendigo - Kennington',
 'Flora Hill - Spring Gully',
 'Kangaroo Flat - Golden Square',
 'Maiden Gully',
 'Strathfieldsaye',
 'White Hills - Ascot',
 'Bendigo Surrounds - South',
 'Castlemaine',
 'Castlemaine Surrounds',
 'Heathcote',
 'Kyneton',
 'Woodend',
 'Bendigo Surrounds - North',
 'Loddon',
 'Bannockburn',
 'Golden Plains - South',
 'Winchelsea',
 'Belmont',
 'Geelong',
 'Geelong West - Hamlyn Heights',
 'Highton',
 'Lara',
 'Leopold',
 'Newcomb - Moolap',
 'Newtown (Vic.)',
 'North Geelong - Bell Park',
 'Clifton Springs',
 'Lorne - Anglesea',
 'Portarlington',
 'Point Lonsdale - Queenscliff',
 'Torquay',
 'Alexandra',
 'Kilmore - Broadford',
 'Mansfield (Vic.)',
 'Seymour',
 'Seymour Surrounds',
 'Yea',
 'Benalla',
 'Benalla Surrounds',
 'Rutherglen',
 'Wangaratta',
 'Wangaratta Surrounds',
 'Beechworth',
 'Bright - Mount Beauty',
 'Chiltern - Indigo Valley',
 'Myrtleford',
 'Towong',
 'West Wodonga',
 'Yackandandah',
 'Drouin',
 'Trafalgar (Vic.)',
 'Warragul',
 'Bairnsdale',
 'Bruthen - Omeo',
 'Lakes Entrance',
 'Orbost',
 'Paynesville',
 'Foster',
 'Korumburra',
 'Leongatha',
 'Phillip Island',
 'Wonthaggi - Inverloch',
 'Churchill',
 'Moe - Newborough',
 'Morwell',
 'Longford - Loch Sport',
 'Maffra',
 'Rosedale',
 'Sale',
 'Yarram',
 'Brunswick East',
 'Brunswick West',
 'Pascoe Vale South',
 'Alphington - Fairfield',
 'Thornbury',
 'Ascot Vale',
 'Flemington',
 'Moonee Ponds',
 'Carlton',
 'Docklands',
 'East Melbourne',
 'Kensington (Vic.)',
 'Parkville',
 'South Yarra - West',
 'Albert Park',
 'Elwood',
 'Port Melbourne',
 'St Kilda East',
 'Armadale',
 'Prahran - Windsor',
 'Toorak',
 'Abbotsford',
 'Carlton North - Princes Hill',
 'Collingwood',
 'Fitzroy',
 'Fitzroy North',
 'Clifton Hill - Alphington',
 'Ashburton (Vic.)',
 'Balwyn',
 'Balwyn North',
 'Camberwell',
 'Glen Iris - East',
 'Hawthorn East',
 'Kew East',
 'Surrey Hills (West) - Canterbury',
 'Bulleen',
 'Doncaster',
 'Templestowe',
 'Templestowe Lower',
 'Doncaster East - North',
 'Doncaster East - South',
 'Blackburn',
 'Blackburn South',
 'Box Hill',
 'Box Hill North',
 'Burwood (Vic.)',
 'Burwood East',
 'Surrey Hills (East) - Mont Albert',
 'Beaumaris',
 'Brighton (Vic.)',
 'Brighton East',
 'Highett (West) - Cheltenham',
 'Hampton',
 'Sandringham - Black Rock',
 'Bentleigh - McKinnon',
 'Carnegie',
 'Caulfield - North',
 'Caulfield - South',
 'Elsternwick',
 'Hughesdale',
 'Murrumbeena',
 'Ormond - Glen Huntly',
 'Bentleigh East - North',
 'Bentleigh East - South',
 'Aspendale Gardens - Waterways',
 'Carrum - Patterson Lakes',
 'Chelsea - Bonbeach',
 'Chelsea Heights',
 'Highett (East) - Cheltenham',
 'Edithvale - Aspendale',
 'Mentone',
 'Moorabbin - Heatherton',
 'Mordialloc - Parkdale',
 'Malvern - Glen Iris',
 'Malvern East',
 'Bundoora - East',
 'Greensborough',
 'Heidelberg - Rosanna',
 'Heidelberg West',
 'Ivanhoe',
 'Ivanhoe East - Eaglemont',
 'Montmorency - Briar Hill',
 'Viewbank - Yallambie',
 'Watsonia',
 'Kingsbury',
 'Preston - East',
 'Preston - West',
 'Eltham',
 'Hurstbridge',
 'Kinglake',
 'Panton Hill - St Andrews',
 'Plenty - Yarrambat',
 'Research - North Warrandyte',
 'Wattle Glen - Diamond Creek',
 'Bundoora - North',
 'Bundoora - West',
 'Mill Park - North',
 'Mill Park - South',
 'Thomastown',
 'Wallan',
 'Whittlesea',
 'Epping - East',
 'Epping - South',
 'Epping (Vic.) - West',
 'South Morang - North',
 'South Morang - South',
 'Wollert',
 'Airport West',
 'Keilor',
 'Niddrie - Essendon West',
 'Strathmore',
 'Gisborne',
 'Macedon',
 'Riddells Creek',
 'Romsey',
 'Coburg North',
 'Fawkner',
 'Gowanbrae',
 'Hadfield',
 'Sunbury',
 'Broadmeadows',
 'Campbellfield - Coolaroo',
 'Gladstone Park - Westmeadows',
 'Greenvale - Bulla',
 'Meadow Heights',
 'Tullamarine',
 'Craigieburn - Central',
 'Craigieburn - North',
 'Craigieburn - South',
 'Mickleham - Yuroke',
 'Bayswater',
 'Knoxfield - Scoresby',
 'Lysterfield',
 'Rowville - Central',
 'Rowville - North',
 'Rowville - South',
 'Wantirna',
 'Wantirna South',
 'Boronia',
 'Ferntree Gully - North',
 'Ferntree Gully (South) - Upper Ferntree Gully',
 'The Basin',
 'Donvale - Park Orchards',
 'Warrandyte - Wonga Park',
 'Bayswater North',
 'Croydon Hills - Warranwood',
 'Ringwood',
 'Ringwood East',
 'Ringwood North',
 'Croydon - East',
 'Croydon - West',
 'Croydon South',
 'Forest Hill',
 'Mitcham (Vic.)',
 'Nunawading',
 'Vermont',
 'Vermont South',
 'Chirnside Park',
 'Healesville - Yarra Glen',
 'Kilsyth',
 'Lilydale - Coldstream',
 'Montrose',
 'Mooroolbark',
 'Mount Dandenong - Olinda',
 'Mount Evelyn',
 'Upwey - Tecoma',
 'Wandin - Seville',
 'Yarra Valley',
 'Emerald - Cockatoo',
 'Berwick - North',
 'Doveton',
 'Hallam',
 'Narre Warren North',
 'Endeavour Hills - North',
 'Endeavour Hills - South',
 'Narre Warren - North East',
 'Narre Warren - South West',
 'Cranbourne',
 'Cranbourne South',
 'Cranbourne West',
 'Lynbrook - Lyndhurst',
 'Pearcedale - Tooradin',
 'Narre Warren South - East',
 'Narre Warren South - West',
 'Clarinda - Oakleigh South',
 'Clayton South',
 'Dandenong North',
 'Dingley Village',
 'Noble Park North',
 'Springvale',
 'Springvale South',
 'Noble Park - East',
 'Noble Park - West',
 'Ashwood - Chadstone',
 'Glen Waverley - East',
 'Glen Waverley - West',
 'Mount Waverley - North',
 'Mount Waverley - South',
 'Mulgrave',
 'Oakleigh - Huntingdale',
 'Wheelers Hill',
 'Ardeer - Albion',
 'Cairnlea',
 'Delahey',
 'Keilor Downs',
 'Kings Park (Vic.)',
 'St Albans - North',
 'St Albans - South',
 'Sunshine',
 'Sunshine North',
 'Sunshine West',
 'Sydenham',
 'Taylors Lakes',
 'Altona',
 'Altona Meadows',
 'Altona North',
 'Newport',
 'Seabrook',
 'Williamstown',
 'Braybrook',
 'Footscray',
 'Maribyrnong',
 'Seddon - Kingsville',
 'West Footscray - Tottenham',
 'Yarraville',
 'Bacchus Marsh',
 'Melton West',
 'Rockbank - Mount Cottrell',
 'Taylors Hill',
 'Burnside',
 'Burnside Heights',
 'Caroline Springs',
 'Hoppers Crossing - North',
 'Hoppers Crossing - South',
 'Laverton',
 'Werribee - South',
 'Point Cook - East',
 'Point Cook - South',
 'Werribee - East',
 'Werribee - West',
 'Carrum Downs',
 'Frankston',
 'Frankston North',
 'Frankston South',
 'Langwarrin',
 'Seaford (Vic.)',
 'Skye - Sandhurst',
 'Dromana',
 'Flinders',
 'Hastings - Somers',
 'Mount Eliza',
 'Mount Martha',
 'Point Nepean',
 'Rosebud - McCrae',
 'Somerville',
 'Ararat',
 'Horsham',
 'Horsham Surrounds',
 'Nhill Region',
 'St Arnaud',
 'Stawell',
 'West Wimmera',
 'Yarriambiack',
 'Irymple',
 'Mildura Surrounds',
 'Red Cliffs',
 'Mildura - North',
 'Mildura - South',
 'Buloke',
 'Gannawarra',
 'Kerang',
 'Swan Hill',
 'Swan Hill Surrounds',
 'Echuca',
 'Kyabram',
 'Lockington - Gunbower',
 'Cobram',
 'Moira',
 'Numurkah',
 'Yarrawonga',
 'Mooroopna',
 'Shepparton - North',
 'Shepparton Surrounds - East',
 'Shepparton Surrounds - West',
 'Glenelg (Vic.)',
 'Hamilton (Vic.)',
 'Portland',
 'Southern Grampians',
 'Camperdown',
 'Colac',
 'Colac Surrounds',
 'Corangamite - North',
 'Otway',
 'Moyne - East',
 'Moyne - West',
 'Warrnambool - North',
 'Warrnambool - South']

In [32]:
#get the final dataframe
df4['SA2_name']=SA2
df4

<ipython-input-32-385f5bd5709f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['SA2_name']=SA2

,SA2_code,cost_text,2023,2024,2025,SA2_name
0,201011002.0,413.472222,436.952037,436.308476,436.859435,Ballarat
1,201011005.0,432.857143,549.998095,553.848165,557.909083,Buninyong
2,201011006.0,452.948718,477.587730,473.948920,471.965798,Delacombe
3,201011008.0,373.695652,402.577081,404.167550,406.270019,Wendouree - Miners Rest
4,201021009.0,385.000000,478.575000,570.205831,663.741015,Bacchus Marsh Surrounds
...,...,...,...,...,...,...
373,217031476.0,707.272727,639.764545,636.774166,641.852174,Otway
374,217041477.0,420.000000,469.355000,566.839764,653.768707,Moyne - East
375,217041478.0,376.000000,412.022000,467.067544,544.084118,Moyne - West
376,217041479.0,399.736842,405.298070,414.686050,419.435395,Warrnambool - North
377,217041480.0,360.500000,419.778414,429.260932,439.274614,Warrnambool - South

In [33]:
# calculate increase in rent each year
df4['22to23dif']=df4['2023']-df4['cost_text']
df4['23to24dif']=df4['2024']-df4['2023']
df4['24to25dif']=df4['2025']-df4['2024']

<ipython-input-33-f9761eee1cf5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['22to23dif']=df4['2023']-df4['cost_text']
<ipython-input-33-f9761eee1cf5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['23to24dif']=df4['2024']-df4['2023']
<ipython-input-33-f9761eee1cf5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['24to25dif']=df4['2025']-df4['2024']

In [34]:
# calculate how much the rent increase for each suburb by percentage
df4['22to23rate']=((df4['2023']-df4['cost_text'])/df4['cost_text'])*100
df4['23to24rate']=((df4['2024']-df4['2023'])/df4['2023'])*100
df4['24to25rate']=((df4['2025']-df4['2024'])/df4['2024'])*100

<ipython-input-34-ca5da3fdf19f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['22to23rate']=((df4['2023']-df4['cost_text'])/df4['cost_text'])*100
<ipython-input-34-ca5da3fdf19f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['23to24rate']=((df4['2024']-df4['2023'])/df4['2023'])*100
<ipython-input-34-ca5da3fdf19f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['24to25rate']=((df4['2025']-df4['2024'])/df4['2024'])*100

In [35]:
# 2023 top 10 suburb with highest rent increasing
df4.sort_values('22to23dif',ascending=False).head(10)[['SA2_name','22to23dif']]

                       SA2_name    22to23dif
47                          Yea  4496.465000
80                       Yarram  1425.000000
226  Croydon Hills - Warranwood   843.917778
77                       Maffra   757.973333
267             Dandenong North   641.938795
64               Bruthen - Omeo   619.043333
243                 Mooroolbark   602.935119
42                    Alexandra   601.177214
212        Knoxfield - Scoresby   577.738349
130             Brighton (Vic.)   442.905476

In [36]:
# 2024 top 10 suburb with highest rent increasing
df4.sort_values('23to24dif',ascending=False).head(10)[['SA2_name','23to24dif']]

                 SA2_name    23to24dif
80                 Yarram  1400.346400
342          West Wimmera   662.298914
64         Bruthen - Omeo   555.167228
212  Knoxfield - Scoresby   358.245443
358                 Moira   306.601309
276  Glen Waverley - West   231.484544
248          Yarra Valley   219.630733
77                 Maffra   199.159367
25            Bannockburn   150.303125
178     Mill Park - South   149.751597

In [37]:
# 2025 top 10 suburb with highest rent increasing
df4.sort_values('24to25dif',ascending=False).head(10)[['SA2_name','24to25dif']]

                    SA2_name   24to25dif
64            Bruthen - Omeo  542.771633
342             West Wimmera  470.898181
358                    Moira  402.868450
212     Knoxfield - Scoresby  289.900167
77                    Maffra  130.095196
276     Glen Waverley - West  129.639549
25               Bannockburn  101.165498
57                    Towong   93.593892
4    Bacchus Marsh Surrounds   93.535184
374             Moyne - East   86.928943

In [38]:
# 2023 top 10 suburb with highest rent increasing by rate(percentage)
df4.sort_values('22to23rate',ascending=False).head(10)[['SA2_name','22to23rate']]

                       SA2_name   22to23rate
47                          Yea  1057.991765
80                       Yarram   259.090909
77                       Maffra   183.232877
267             Dandenong North   170.708663
42                    Alexandra   168.870004
226  Croydon Hills - Warranwood   148.344922
64               Bruthen - Omeo   132.652143
243                 Mooroolbark   126.553098
212        Knoxfield - Scoresby   108.597434
248                Yarra Valley   104.200000

In [39]:
# 2024 top 10 suburb with highest rent increasing by rate(percentage)
df4.sort_values('23to24rate',ascending=False).head(10)[['SA2_name','23to24rate']]

                  SA2_name  23to24rate
342           West Wimmera  164.485015
358                  Moira   82.298029
80                  Yarram   70.903615
248           Yarra Valley   53.778338
64          Bruthen - Omeo   51.134025
372    Corangamite - North   42.277771
356  Lockington - Gunbower   39.762336
212   Knoxfield - Scoresby   32.281974
178      Mill Park - South   30.708596
25             Bannockburn   26.777681

In [40]:
# 2025 top 10 suburb with highest rent increasing by rate(percentage)
df4.sort_values('24to25rate',ascending=False).head(10)[['SA2_name','24to25rate']]

                    SA2_name  24to25rate
358                    Moira   59.319395
342             West Wimmera   44.217913
64            Bruthen - Omeo   33.078138
349                   Buloke   20.724220
212     Knoxfield - Scoresby   19.748186
57                    Towong   19.637188
345        Mildura Surrounds   18.289268
375             Moyne - West   16.489387
4    Bacchus Marsh Surrounds   16.403758
353      Swan Hill Surrounds   16.237321